.movie-details-page {
  background-size: cover;
  height: inherit;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-details-page h3 {
  color: darkred;
  font-size: xx-large;
}

.movie-info-card h3 {
  color: white;
  font-size: xx-large;
}

.movie-info-card {
  background-color: rgb(39, 39, 39, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}