.App {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.navBar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navBar h2 {
  align-self: center;
  color: darkred;
  font-family: 'Creepster', cursive;
  font-size: 5em;
  height: 1vh;
}

.navBar .nav-bar h3 {
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 3px;
  color: white;
  height: fit-content;
  width: fit-content;
}

