/* .allMovies {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.poster {
 height: 40vh;
}

.allMovies {
  background: black;
  display: grid;
  flex-grow: 3;
  font-size: 14px;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  min-height: 200px;
  padding: 30px;
}

@media only screen and (max-width: 1200px) {

 .allMovies{
    grid-template-columns: repeat(3, 1fr);
  }

}

@media only screen and (max-width: 900px) {

 .allMovies{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (max-width: 600px) {

 .allMovies{
    grid-template-columns: repeat(1, 1fr);
  }

}